{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "next-env.d.ts",
      "options": { "singleQuote": false }
    }
  ]
}
